body {
  font-size: 14px;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.5em;
    padding-top: 1.2em;
    margin: 1em 0 1em;
    border-top: 2px solid #ddd;
}

h3 {
    font-size: 1em;
    margin: 2em 0 1.5em;
}

p {
    line-height:1.5em;
    padding-bottom: 0.2em;
}
