---
title: "Overview"
section: 1
weight: 0
version: 0.29
layout: "docs"
---

%h2= "Overview"
- current_resource.children.sort_by!{ |c| c.data.fetch(:weight, 1) }.each do |page|
  %ul
    = partial "toc-helper", locals: { content: page }
