%div.tableofcontents
  = stylesheet_link_tag "toc"
  %div.toc.well
    %h3.pull-left.hidden-lg Table of Contents
    %button.collapsed.hidden-lg.pull-right.hamburger-button
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %div.clearfix
    %div.toc-collapse
      = partial File.join("/docs", sprintf("%.2f", current_resource.data.version), "index")
