---
title: "Guides"
section: 4
weight: 0
version: 0.25
layout: "docs"
---

%h2= "Guides"
- current_resource.children.sort_by!{ |c| c.data.fetch(:weight, 1) }.each do |page|
  %ul
    = partial "toc-helper", locals: { content: page }
