// CSS modifications for the /docs (documentation) pages 

#toc {
  display: inline;
  float: left;
  min-width: 220px;
}

#toc ul p {
  margin-top: 5px;
  margin-bottom: 0px;
}

#documentation {
  display: inline;
  min-width: 220px;
}

#documentation h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
}

#documentation li {
  line-height: 20px;
}

#documentation ul p {
  margin-top: 5px;
  margin-bottom: 0px;
}

pre {
  border: solid 1px #ddd;
  background: #fff;
  padding: 10;
  line-height: 23px;
  margin-bottom: 30px;
  white-space: pre;
  overflow-x: auto;
  word-break: inherit;
  word-wrap: inherit;
}

.highlight td {
    padding: 8px 15px;
}

.gl { 
  background: #fafafa;
  border-right: 1px solid #ddd;
  color: #999;
  
  /* Stop line numbers being visually selected */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}