// Twitter Bootstrap
@import "bootstrap";
@import "octicons/octicons";
@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";
@import "index";

pre {
  border: none !important;
}

.note {
  display: block;
  background-color: #d5e9f6;
  margin: 14px 0;
  padding: 14px;
  border-radius: 4px;
}

.ubuntu {
  color: #DD4814;
}

.ubuntu > i {
  padding-right: 7px;
}

.centos {
  color: #204C8D;
}

.centos > i {
  padding-right: 7px;
}
