@import "bootstrap";

.toc > .hamburger-button {
  position: relative;
  padding: 9px 10px;
  margin: 0;
  background-color: #ddd;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.toc > .hamburger-button.collapsed {
  background-color: transparent;
}

.toc > .hamburger-button:focus,
.toc > .hamburger-button:hover {
  background-color: #ddd;
}

.toc > .hamburger-button > span.icon-bar {
  background-color: #888;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.toc > .hamburger-button > .icon-bar+.icon-bar {
  margin-top: 4px;
}

.toc > h3 {
  margin: 0;
  padding-top: 5px;
}

.toc > .toc-collapse {
  display: none;
  margin-top: 16px;
}

.toc > .toc-collapse > ul {
  @extend .list-unstyled;
  padding-left: 0px;
}

.toc > .toc-collapse > li {
  margin-bottom: 3px;
}

.toc > .toc-collapse > ul > li > ul {
  padding-left: 25px;
}

.toc h5:before {
  content: $screen-xs;
}

@media(min-width: $screen-lg-min){
  .toc > .toc-collapse {
    display: block !important;
    margin-top: 0;
  }
}
