---
title: "Platforms"
section: 9
weight: 0
version: 0.26
---

%h2= "Supported Platforms"
- current_resource.children.sort_by!{ |c| c.data.fetch(:weight, 1) }.each do |page|
  %ul
    = partial "toc-helper", locals: { content: page }
