%a{ href: "/docs" }
  %div.banner
    %div.container
      %div.row
        %div.col-sm-offset-3.col-sm-6
          %img.img-responsive.logo{ src: "/img/logo.png" }
      %div.row
        %div.col-sm-12
          %h1.text-center= "Monitoring for today's infrastructure"
