%a{ href: "/docs" }
  %div.banner
    %div.container
      %div.row
        %div.col-md-12
          %img.logo{ src: "/img/logo.png" }
          %h1.text-center= "The open source monitoring framework."
