---
title: "Console"
weight: 9
version: 0.23
---

%h2= "Sensu Enterprise Console"
- current_resource.children.sort_by!{ |c| c.data.fetch(:weight, 1) }.each do |page|
  %ul
    = partial "toc-helper", locals: { content: page }
